[submodule "Assets/UTF_Core"]
	path = Assets/UTF_Core
	url = git@github.com:Unity-Technologies/UTF_Core
	branch = master
[submodule "Assets/UTF_Tests_PostProcessingV2"]
	path = Assets/UTF_Tests_PostProcessingV2
	url = git@github.com:Unity-Technologies/UTF_Tests_PostProcessingV2
	branch = master
[submodule "Assets/PostProcessing"]
	path = Assets/PostProcessing
	url = git@github.com:Unity-Technologies/PostProcessing
	branch = v2
